* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.card-body {
    background-color: aquamarine;
    text-align: center;
    height: 600px;
    width: 400px;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    max-height: 600px;
}

.container1 {
    display: flex;
    flex-direction: column;
}

.upperpattern {
    align-self: stretch;
    height: 50%;
}
.picture {
border-radius: 100%;

}